body{
    margin: 0;
    padding: 0;
    color: #5C4A3C;
    font-family: 'Lobster Two', cursive;
}

img{
    object-fit: cover;
}

.main-container{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-container{
    width: 35%;
    height: 100vh;
    background-color: #F7F5F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.left-container-text{
    font-size: 30px;
}

.right-container{
    width: 60%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;  
}

/* FIRST IMG CONTAINER BEGINN */
.first-img-container{
    display: flex;
    justify-content: space-between;
    height: 55%;
    margin-bottom: 20px;
}

.first-img-container-first-img{
    width: 50%;
}

.first-img-container-second-img{
    width: 45%;
}

.first-img-container-first-img img{
    width: 100%;
    height: 100%;

}

.first-img-container-second-img img{
    width: 100%;
    height: 100%;
}

/* FIRST IMG CONTAINER END */
/* SECOND IMG CONTAINER BEGINN */
.second-img-container{
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.second-img-container-first-img{
    width: 35%;
}

.second-img-container-second-img{
    width: 60%;
}

.second-img-container-first-img img{
    width: 100%;
    height: 100%;
}

.second-img-container-second-img img{
    width: 100%;
    height: 100%;
}
/* SECOND IMG CONTAINER END */

/* BUTTON CONTAINER */
.left-container-button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.left-container-button button{
    margin-top: 20px;
    padding: 10px 50px;
    border: solid 1px lightslategray;
    font-family:'Lobster Two', cursive;
    font-size: 20px;
    color: #F7F5F4;
    background-color: #5C4A3C;
}


.left-container-button button:hover{
    cursor: pointer;
    color: #5C4A3C;
    background-color: #F7F5F4;
}


/* BUTTON CONTAINER END*/

/* ----------RESPONSIVE------------- */


@media(max-width: 950px){
    .main-container{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .left-container{
        width: 100%;
        height: 70vh;
        background-color: #F7F5F4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .right-container{
        width: 100%;
        max-height: 100vh;
        display: flex;
        flex-direction: column;  
    }

    /* FIRST IMG CONTAINER BEGINN */
.first-img-container{
    display: flex;
    flex-direction: column;
    height: 55%;
    margin-bottom: 20px;
}

.first-img-container-first-img{
    width: 100%;
    margin-bottom: 10px;
}

.first-img-container-second-img{
    width: 100%;
}

.first-img-container-first-img img{
    width: 100%;
    height: 100%;

}

.first-img-container-second-img img{
    width: 100%;
    height: 50%;
}

/* FIRST IMG CONTAINER END */
/* SECOND IMG CONTAINER BEGINN */
.second-img-container{
    display: flex;
    flex-direction: column;
    height: 40%;
}

.second-img-container-first-img{
    width: 100%;
    margin-bottom: 10px;
}

.second-img-container-second-img{
    width: 100%;
}

.second-img-container-first-img img{
    width: 100%;
    height: 100%;
}

.second-img-container-second-img img{
    width: 100%;
    height: 100%;
}
/* SECOND IMG CONTAINER END */
}
